In [2]:
import pandas as pd 
import matplotlib.pyplot as plt 
%matplotlib inline

In [3]:
data=pd.read_csv('files/data_science_salaries.csv')

In [4]:
data.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2021e,EN,FT,Data Science Consultant,54000,EUR,64369,DE,50,DE,L
1,2020,SE,FT,Data Scientist,60000,EUR,68428,GR,100,US,L
2,2021e,EX,FT,Head of Data Science,85000,USD,85000,RU,0,RU,M
3,2021e,EX,FT,Head of Data,230000,USD,230000,RU,50,RU,L
4,2021e,EN,FT,Machine Learning Engineer,125000,USD,125000,US,100,US,S

In [6]:
len(data)

245

In [7]:
data.dtypes

work_year             object
experience_level      object
employment_type       object
job_title             object
salary                 int64
salary_currency       object
salary_in_usd          int64
employee_residence    object
remote_ratio           int64
company_location      object
company_size          object
dtype: object

In [8]:
data.isnull().any()

work_year             False
experience_level      False
employment_type       False
job_title             False
salary                False
salary_currency       False
salary_in_usd         False
employee_residence    False
remote_ratio          False
company_location      False
company_size          False
dtype: bool

In [9]:
data['work_year'].unique()

array(['2021e', '2020'], dtype=object)

In [10]:
data['experience_level'].unique()

array(['EN', 'SE', 'EX', 'MI'], dtype=object)

In [11]:
data['company_size'].unique()

array(['L', 'M', 'S'], dtype=object)