In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
data=pd.read_csv('files/weight-height.csv')

In [3]:
data.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [4]:
len(data)

10000

In [6]:
data.groupby('Gender').count()

        Height  Weight
Gender
Female    5000    5000
Male      5000    5000

In [8]:
data.groupby('Gender').mean()

           Height      Weight
Gender
Female  63.708774  135.860093
Male    69.026346  187.020621