In [2]:
import pandas as pd

In [3]:
url="https://en.wikipedia.org/wiki/Wikipedia:Fundraising_statistics"

In [4]:
data=pd.read_html(url)

In [5]:
type(data)

list

In [6]:
data[0].head()

        Year Source        Revenue       Expenses    Asset rise   Total assets
0  2020/2021    PDF  $ 162,886,686  $ 111,839,819  $ 50,861,811  $ 231,177,536
1  2019/2020    PDF  $ 129,234,327  $ 112,489,397  $ 14,674,300  $ 180,315,725
2  2018/2019    PDF  $ 120,067,266   $ 91,414,010  $ 30,691,855  $ 165,641,425
3  2017/2018    PDF  $ 104,505,783   $ 81,442,265  $ 21,619,373  $ 134,949,570
4  2016/2017    PDF   $ 91,242,418   $ 69,136,758  $ 21,547,402  $ 113,330,197

In [7]:
fund=data[0]

In [8]:
fund.dtypes

Year            object
Source          object
Revenue         object
Expenses        object
Asset rise      object
Total assets    object
dtype: object

In [12]:
fund['Exp']=fund['Expenses'].str[2:]
fund['Exp']=fund['Exp'].str.replace(',','')
fund.head()

,Year,Source,Revenue,Expenses,Asset rise,Total assets,Exp
0,2020/2021,PDF,"$ 162,886,686","$ 111,839,819","$ 50,861,811","$ 231,177,536",111839819
1,2019/2020,PDF,"$ 129,234,327","$ 112,489,397","$ 14,674,300","$ 180,315,725",112489397
2,2018/2019,PDF,"$ 120,067,266","$ 91,414,010","$ 30,691,855","$ 165,641,425",91414010
3,2017/2018,PDF,"$ 104,505,783","$ 81,442,265","$ 21,619,373","$ 134,949,570",81442265
4,2016/2017,PDF,"$ 91,242,418","$ 69,136,758","$ 21,547,402","$ 113,330,197",69136758

In [13]:
fund['Exp']=pd.to_numeric(fund['Exp'])

In [14]:
fund.dtypes

Year            object
Source          object
Revenue         object
Expenses        object
Asset rise      object
Total assets    object
Exp              int64
dtype: object

In [15]:
fund['Rev']=fund['Revenue'].str[2:]
fund['Rev']=fund['Rev'].str.replace(',','')
fund.dtypes

Year            object
Source          object
Revenue         object
Expenses        object
Asset rise      object
Total assets    object
Exp              int64
Rev             object
dtype: object

In [16]:
fund.head()

,Year,Source,Revenue,Expenses,Asset rise,Total assets,Exp,Rev
0,2020/2021,PDF,"$ 162,886,686","$ 111,839,819","$ 50,861,811","$ 231,177,536",111839819,162886686
1,2019/2020,PDF,"$ 129,234,327","$ 112,489,397","$ 14,674,300","$ 180,315,725",112489397,129234327
2,2018/2019,PDF,"$ 120,067,266","$ 91,414,010","$ 30,691,855","$ 165,641,425",91414010,120067266
3,2017/2018,PDF,"$ 104,505,783","$ 81,442,265","$ 21,619,373","$ 134,949,570",81442265,104505783
4,2016/2017,PDF,"$ 91,242,418","$ 69,136,758","$ 21,547,402","$ 113,330,197",69136758,91242418

In [17]:
fund.loc[0,'Rev']='spam'

In [18]:
fund.head()

,Year,Source,Revenue,Expenses,Asset rise,Total assets,Exp,Rev
0,2020/2021,PDF,"$ 162,886,686","$ 111,839,819","$ 50,861,811","$ 231,177,536",111839819,spam
1,2019/2020,PDF,"$ 129,234,327","$ 112,489,397","$ 14,674,300","$ 180,315,725",112489397,129234327
2,2018/2019,PDF,"$ 120,067,266","$ 91,414,010","$ 30,691,855","$ 165,641,425",91414010,120067266
3,2017/2018,PDF,"$ 104,505,783","$ 81,442,265","$ 21,619,373","$ 134,949,570",81442265,104505783
4,2016/2017,PDF,"$ 91,242,418","$ 69,136,758","$ 21,547,402","$ 113,330,197",69136758,91242418

In [20]:
fund['Rev']=pd.to_numeric(fund['Rev'],errors='coerce')

In [21]:
fund.head()

,Year,Source,Revenue,Expenses,Asset rise,Total assets,Exp,Rev
0,2020/2021,PDF,"$ 162,886,686","$ 111,839,819","$ 50,861,811","$ 231,177,536",111839819,NaN
1,2019/2020,PDF,"$ 129,234,327","$ 112,489,397","$ 14,674,300","$ 180,315,725",112489397,129234327.0
2,2018/2019,PDF,"$ 120,067,266","$ 91,414,010","$ 30,691,855","$ 165,641,425",91414010,120067266.0
3,2017/2018,PDF,"$ 104,505,783","$ 81,442,265","$ 21,619,373","$ 134,949,570",81442265,104505783.0
4,2016/2017,PDF,"$ 91,242,418","$ 69,136,758","$ 21,547,402","$ 113,330,197",69136758,91242418.0

In [22]:
fund.dtypes

Year             object
Source           object
Revenue          object
Expenses         object
Asset rise       object
Total assets     object
Exp               int64
Rev             float64
dtype: object